.arrow {
    background-color: rgb(245, 124, 25);
    cursor: pointer;
    width: 40px;
    height: 30px;
}

.left {
    clip-path: polygon(100% 0, 0 50%, 100% 100%);
}

.right {
    clip-path: polygon(0 0, 100% 50%, 0 100%);
}